body {
	font-family: Arial;
	text-align: center;
}
section {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
h1 {font-size: 20px;}
span {color: #006699;}
form {
	background-color: #ddd;
	padding: 2%;
	text-align: left;
	height: 15%;
	margin: 1% 0 0;
}
.bar_chart_container {
	height: 50%;
	background-color: #ddd;
	padding: 2%;
}
#bar_chart{
	padding-left: 20px;
    padding-bottom: 20px;
}